##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print("Name : {}".format("Carl"));
print("City : {}".format("New York"))

Name : Carl
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [ ]:
number = int(input("input : "))

division1 = number/2
division2 = division1/2
division3 = division2/2
print("output is : {} {} {}".format(division1, division2, division3))

input : 1000
output is : 500.0 250.0 125.0

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [ ]:
x = 2
y = 4
z = 6

print(x**z)
print(x**y)
print(x-y)
print(x%z)

64
16
-2
2

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.05) and 1 cent
        Output:  the total amount as dollars and cents.

In [ ]:
print("${:.2f}".format(4*0.25 + 3*0.10 + 2*0.05))

1.40

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

> Add blockquote

In [ ]:
word = "Python"
print(word[4])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [ ]:
word = "Python"
print(word[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [ ]:
word = "Python Class"
print(word[6:])

 Class

9 - Find the length of the String  **Welcome to Pace University**

In [ ]:
string = "Welcome to Pace University"
print(len(string))

26

10 - Split the String  **Welcome to Pace University**  into words

In [ ]:
string = "Welcome to Pace University"

word_list = string.split(' ')

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [ ]:
string = "Artificial intelligence"
string = string.replace('i', 'o')
print(string)

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [ ]:
string = "DATA Science"
string = string.lower()
print(string)

DATA Science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [ ]:
string = "DATA Science"
string = string.upper()
print(string)

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [50]:
string = "Artificial Intelligence"
reversed = ""

for i in range(len(string)):
  reversed += string[0-1-i]

print(reversed)

ecnegilletnI laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [52]:
a = 150
b = 225

if a == b:
  print("They are the same")
if a > b:
  print("A is greater than B")
if a >= b:
  print("A is greater than or equal to B")
if a < b:
  print("A is less than B")
if a <= b:
  print("A is less than or equal to b")
if a != b:
  print("A does not equal B")

A is less than B
A is less than or equal to b
A does not equal B

###Lists

16 - Create a **list** of **lists** of integers elements

In [59]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

full_list = [list1,list2,list3]
print(full_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

17 - Create a **list** of **lists** of Text elements

In [61]:
list1 = ['item1', 'item2', 'item3']
list2 = ['item4', 'item5', 'item6']

full_list = [list1, list2]
print(full_list)

[['item1', 'item2', 'item3'], ['item4', 'item5', 'item6']]