##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [ ]:
def smallest_of_two_evens(a,b):
  #checkd if both are event and otherwise at least one is odd
  if a % 2 == 0 and b % 2 == 0:
    if(a < b):
      return a
    else:
      return b
  else:
    if(a < b):
      return b
    else:
      return a

In [ ]:
# Check1
smallest_of_two_evens(2,4)

2

In [ ]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [ ]:
def word_crackers(word1,word2):

  if(word1[0] == word2[0]):
    return True
  else:
    return False
    #Write code here!

In [ ]:
# Check1
word_crackers('Lion', 'Lady')

True

In [ ]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [ ]:
def sum_twenty(n1,n2):
  if(n1 == 20 or n2 == 20 or n1 + n2 == 20):
    return True
  else:
    return False

In [ ]:
# Check1
sum_twenty(20,10)

True

In [ ]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [ ]:
def cap_first_four(name):
  #Had to do by converting to a list and then did from there. not sure if there's a more efficient way.
  letters = list(name)
  letters[0] = letters[0].upper()
  letters[3] = letters[3].upper()
  empty = ""
  for i in range(len(letters)):
    empty += letters[i]
  return empty

In [ ]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [ ]:
def rev_words(text):
  split = text.split(" ")
  reversed = split
  for i in range(len(split)):
    #originally I was trying to do some complicated for loop that dodn't work and then i remembered the reverswe function :)
    split.reverse()
    return " ".join(split)

In [ ]:
# Check1
rev_words('I am home')

'home am I'

In [ ]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def nearest_num(n):
  if(n >= 190):
    #did this to account for greater than 100 without having to write all if statements for 200 as well
    n = n-100
  if((100-n <= 10 and 100-n > 0) or (n - 100 <= 10 and n-100 > 0)):
    return True
  else:
    return False

In [ ]:
# Check1
nearest_num(104)

True

In [ ]:
# Check2
nearest_num(150)

False

In [ ]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [ ]:
def contains_two_samevalues(nums):
  counter = len(nums)
  current_int = nums[0]

#subtracted one to account for i+1 being out of range
  for i in range(counter-1):
    if nums[i+1] == current_int:
      return True
    else:
      current_int = nums[i+1]

  return False

In [ ]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [ ]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [ ]:
# Check3
contains_two_samevalues([3, 1, 3,3])

True

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def repeat_three(text):
  empty = ""
  #repeates with each letter in first loop
  #repeats three times in second loop
  for i in range(len(text)):
    for q in range(3):
      empty += text[i]

  return empty

In [ ]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [ ]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [47]:
def count_primes(num):
    #Write code here
    counter = 0
    #start at 2 to avoid 1 which is not prime
    for i in range(2,num + 1):
      prime = True
      #checks whether any numbers below divide evenly into
      for q in range(2,i):
        if(i % q == 0):
          prime = False
          break
      if prime:
      #  print(i)
        counter = counter + 1

    return counter

In [48]:
# Check1
count_primes(100)

25